{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Navid, a Computer Science & Engineering student at Metropolitan University, Sylhet. I enjoy solving problems and
          building practical solutions. I’m currently pursuing a B.Sc. in Computer Science & Engineering, with a focus on
          algorithms, data structures, and software development. My studies have fueled my curiosity to explore, learn, and
          create.
        </p>
        <p>
          In terms of programming, I’m experienced in Python and am currently exploring Dart for mobile app development. I’ve
          completed over 15 projects, including Pomodoro timers and live websites, all of which you can check out on my GitHub.
          Right now, I’m diving into mobile app development using Flutter and Dart to create intuitive apps, while also learning
          about web development and building responsive, interactive websites. My short-term goal is to gain hands-on experience
          through internships and team projects, while my long-term goal is to develop meaningful apps, contribute to open-source
          projects, and share knowledge with the developer community.
        </p>
        <p>
          I’d love to connect with you! Feel free to reach out to me via email at Navid166418@gmail.com, or connect with me on
          GitHub, Instagram, or Facebook under the username NavidZamanKhan.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
